.navbar {
    background-color: #f2f6fa;
    border: 1px solid !important;
    border-color: #ebe8e8 !important;
}

.navbar-brand {
    margin-left: 1rem;
}

.dropdown-toggle {
    margin-left: 1rem;
}