.home, .articulation {
    width: 70%;
    margin: auto;
    margin-top: 3rem;
}

.articulation {
    text-align: center;
}

.symbol {
    margin: 2rem;
}

.btn {
    margin: 1rem;
    padding: 1rem;
}

.correct {
    color: green;
    margin-top: 2rem;
}

.incorrect {
    color: red;
    margin-top: 2rem;
}