.home, .articulation, .ipa-to-english, .syllabification {
    width: 70%;
    margin: auto;
    margin-top: 3rem;
}

.articulation, .ipa-to-english {
    text-align: center;
}

.symbol {
    margin: 2rem;
}

.btn {
    margin: 1rem;
    padding: 1rem;
}

.correct {
    color: green;
    margin-top: 2rem;
}

.incorrect {
    color: red;
    margin-top: 2rem;
}

.ipa-to-english > p {
    padding-top: 1rem;
}

.ipa-to-english > h2 {
    padding: 5rem;
}

.ipa-to-english > .btn {
    /* background-color: #b5b2b1 !important; use this color to gray things out */
    border: none;
}